<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="vue.js"></script>
    <script src="star-rating.min.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app">
      <table>
        <tr><th>Kanji</th><th>Hiragana</th><th>English</th><th>rating</th></tr>
        <tr v-for="entry in vocabulary">
          <td class="kanji">{{ entry.kanji }}</td>
          <td class="hiragana">{{ entry.hiragana }}</td>
          <td class="english">{{  entry.rating > 1 ? "": entry.eng }}</td>
          <td>
            <star-rating
             :rating="entry.rating"
             @rating-selected="setRating($event, entry)"
             :star-size="20"
             ></star-rating>
          </td>
        </tr>
      </table>
    </div>
  </body>

<script type="application/javascript">
var STORAGE_KEY = 'japanese'
var vocabularyStorage = {
  fetch: function () {
    var vocabulary = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
    return vocabulary.sort((a, b) => { return 0.5 - Math.random() + (a.rating - b.rating) }); 
  },
  save: function (vocabulary) {
    localStorage.setItem(STORAGE_KEY, JSON.stringify(vocabulary))
  }
}

var app = new Vue({
  el: '#app',
  data: {
    vocabulary: vocabularyStorage.fetch()
  },
  methods: {
    setRating(rating, entry) {
      entry.rating = rating;
    }
  },
  watch: {
    vocabulary: {
      handler: function (vocabulary) {
        vocabularyStorage.save(vocabulary)
      },
      deep: true
    }
  }
})

if (! vocabularyStorage.fetch().length ){
  fetch('./voc.jlpt.N4.json').then((response) => {
    return response.json();
  }).then((vocabulary) => {
    for(item of vocabulary) {
      item.key = item.kanji + item.hiragana;
      item.rating = 0;
    }
    app.vocabulary = vocabulary;
  })
}

</script>
</html>